.navbar{
	background-color: #669999;
}
.nav-item{
	font-size: 20px;
	font-color: black;
}	
.text-center{
	background-color: #669999;
}
.text-muted{
	color: black !important;
}
.fab fa-facebook-f{
	color: black !important;
}
.link-secondary{
	color: black !important;
}
.text-secondary{
	color: black !important;
}